@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100&display=swap');

html{
  scroll-behavior: smooth;
}

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root{
  --Branco: white;
  --Cinza-Claro: rgb(199, 199, 199);
  --Preto: black;
}

::-webkit-scrollbar{
  display: none;
}

/*Header************************************************************************/

.Contentlogo h1{
  font-family: 'Belleza', sans-serif;
  letter-spacing: 3px;
  font-weight: 100;
}

header{
  box-shadow: 0px  0px 15px 0px var(--Cinza-Claro);
  height: 10vh;   
}

.header-main{
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  justify-items: center;
  align-items: center;
}

.img-tec{
  height: 50px;
  width: 50px;
}

.nome-site{
  margin-right: 50px;
}

.nome-site h1{
font-size: 60px;
font-weight: 400;
font-family: 'Montserrat', sans-serif;
}

.subtitulo{
  box-shadow: 0px 8px 700px 0px rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
  text-align: center;
  margin-bottom: 20px;
  margin-top: -15px;
}

.subtitulo h4{
font-size: 30px;
font-weight: 100;
font-family: 'Great Vibes', cursive;
}

/*Menu**************************************************************************************/

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(110, 107, 107, 0.925);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
  }
  
  .menu {
    list-style: none;
    text-align: center;
  }
  
  .menu li {
    margin-bottom: 20px;
  }
  
  .menu li a {
    color: var(--Branco);
    font-size: 24px;
    text-decoration: none;
  }
  
  .menu-trigger {
    position: absolute;
    top: 3%;
    right: 10px;
    padding: 10px 20px;
    background-color: var(--Branco);
    color: var(--Preto);
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 1s;
  }

/*Main*/

main{
  margin-top: 20px;
}

/*noticias Principal*/

.box {
  width: 100px;
  height: 300px;
  border: 1px solid black;
}

.inner-box {
  background-color: red;
  padding: 10px;
}  

.news-box {
  width: 100%;
  margin: 10px auto;
  border: 1px solid black;
  padding: 10px;
  background-color: #fff;
}

.news-title {
  font-size: 20px;
  font-weight: bold;
}

.news-body {
  font-size: 16px;
  line-height: 1.5;
}

.news-meta {
  margin-top: 10px;
}

.news-author {
  font-size: 14px;
}

.news-date {
  font-size: 14px;
}

.news-category {
  font-size: 14px;
}

/*caixa de noticias*/

article{
  margin-top: 20vh;
  margin-bottom: 30vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.box {
  width: 350px;
  height: 250px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-left: 5px;
}

.box img {
  width: 100%;
  height: 205px;
}

.box .TituloN {
  padding: 10px;
  background-color: #3498db;
  color: white;
  font-size: 18px;
  text-align: center;
}

/* carrosel */
section.slider{
  margin: 0 auto;
  width: 100vw;
  height: 90vh ;
  padding: 0 !important;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid black;
}

.slider-content{
  width: 400vw;
  height: auto;
  display: flex;
}

.slider-content input, .img-mobile{
  display: none;
}

.slide-box{
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  transition: 1s;
}

.slide-box img{
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
}

.nav-manual, .nav-auto{
  position: absolute;
  width: 100vw;
  margin-top: 90vh;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
  border: 2px solid var(--Preto);
  padding: 10px;
  border-radius: 50% 50%;
  cursor: pointer;
  transition: 2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
  margin-right: 10px;
}

.nav-manual .manual-btn:hover{
  background-color: var(--Preto);
}

#radio1:checked ~ .nav-auto .auto-btn1, 
#radio2:checked ~ .nav-auto .auto-btn2, 
#radio3:checked ~ .nav-auto .auto-btn3,
#radio4:checked ~ .nav-auto .auto-btn4,
#radio5:checked ~ .nav-auto .auto-btn5{
  background-color: var(--Branco);
}

#radio1:checked ~ .primeiro{
  margin-left: -0%;
}

#radio2:checked ~ .primeiro{
  margin-left: -25%;
}

#radio3:checked ~ .primeiro{
  margin-left:  -50%;
}

#radio4:checked ~ .primeiro{
  margin-left:  -75%;
}

#radio5:checked ~ .primeiro{
  margin-left: -100%;
}


